<div [hidden]=false>
    <p>
        <mat-toolbar color="primary" style="background-color: #911025;">
            <mat-toolbar-row>
            <span>Ticketera Web</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            </mat-toolbar-row>    
        </mat-toolbar>
    </p>
      
    <mat-tab-group mat-align-tabs="end" >
        <mat-tab label="Inicio" ><app-home></app-home></mat-tab>
        <mat-tab label="Registros" >Content 2</mat-tab>
        <mat-tab label="Datos" >Content 3</mat-tab>
        <mat-tab label="Direcciones" >Content 3</mat-tab>
    </mat-tab-group>
</div>

