<td>

    Escribe la Consulta
    <input type="text" name="consultaText" [(ngModel)]="consultaText" id="consultaText" (keypress)="keyPress($event)" >
    
    <button class="boton-personalizado-2 fuente" (click)="consulta('Consultar')">Consultar</button>
    <button class="boton-personalizado-2 fuente" (click)="consulta('Todo')">Ver Todas</button>
    <button class="boton-personalizado-2 fuente" (click)="consulta('Limpiar')">Limpiar</button>
</td>
<div *ngFor='let item of initialBaseTemp' style="margin-left: 5px; background:#2114941c;">
    <div style="margin-left: 10px">
        <strong [ngStyle]="colorStyleSw(item.estado_vigente)">{{item.estado_vigente}} </strong>
        <strong  *ngIf="item.respaldo_ley!=''">, ({{item.respaldo_ley}})</strong>
        <strong  *ngIf="item.respaldo_ds!=''">, ({{item.respaldo_ds}})</strong>
        <strong  *ngIf="item.respaldo_rnd_ra!=''">, ({{item.respaldo_rnd_ra}})</strong>
        <strong  *ngIf="item.respaldo_otro!=''">, OTRAS({{item.respaldo_otro}})</strong>
        <textarea style="width: 100%;height: auto;" disabled>{{item.id}}  - {{item.pregunta}}</textarea>        
        <textarea style="width: 95%;height: 120%;" disabled>{{item.respuesta}}</textarea>
    </div>                        
</div>