.boton-personalizado-2 {
    text-decoration:none;
    font-weight: 600;
    font-size: 12px;
    color:white;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:#004884;
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
    }
    .fuente{
        font-family: Century Gothic;
    }