<div align='center' style="background:rgb(219, 218, 218);" [hidden]="tickethidden">    
    <br>

    <div class="box">
        <div class="left">
            <div class="content">
                <div *ngFor='let item of initialTicketN'>
                    <tr><button class="boton-personalizado-2 fuente" (click)=" consulta(item.descripcion)">{{item.descripcion}} - {{item.cod}}</button></tr>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="content">
                <div *ngFor='let item of initialTicketP'>
                    <tr><button class="boton-personalizado-2 fuente" (click)=" consulta(item.descripcion)">{{item.descripcion}}</button></tr>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

<div [hidden]="!tickethidden">
    <div style="margin-left: 5px; background:#0505051c;">
        <br>
        <tr> 
            <td><span class="fuente">NIT/CI </span></td> 
            <td><input type="number" name="" id=""></td>                      
            <td><button class="boton-personalizado-2 fuente" (click)="tareaTicket('Finalizar')">Finalizar</button></td>
            <td><button class="boton-personalizado-2 fuente" (click)="tareaTicket('Cancelar')" style="background-color:#000000;">Cancelar</button></td>  
        </tr>
        <tr>
            <td><span class="fuente">Nombre </span></td>
            <td><input type="text" name="" id=""></td>
            <td><button class="boton-personalizado-2 fuente" (click)=" tareaTicket('Puasar')"> Puasar </button></td>
            <td><button class="boton-personalizado-2 fuente" (click)=" tareaTicket('Abandono')" style="background-color:#000000;">Abandono</button></td>
        </tr>
        <br>
    </div>
    <div align='center' style="background: #1475b8;">
        <span class="fuente" style="color: white; font-size: 25px;">Trámite Primario</span>
    </div>
    
    <div *ngFor='let item of initialTramite' style="margin-left: 5px; background:#2114941c;">
        <div style="margin-left: 10px">
            <input type="checkbox" name="" id="" (click)="subTramiteLLenar(item.id , $event)"><span class="fuente">{{item.descripcion}} </span> 
        </div>                        
    </div> 
    
    <div align='center' style="background:navy;">
        <span class="fuente" style="color: white; font-size: 20px;">Trámite Secundario</span>
    </div>
    
    <div *ngFor='let item of initialSubTramiteTemp' style="margin-left: 5px; background:#2114941c;">
        <div style="margin-left: 10px">
            <input type="checkbox" name="" id="" ><span class="fuente">{{item.descripcion}} </span> 
        </div>                        
    </div>
</div>