<button class="boton-personalizado-2 fuente" (click)="iniciarDatos()" style="font-size: 22px; margin-left: 10%;"  [hidden]= "popup_g">Iniciar</button>
<div align='center' style="background:rgb(219, 218, 218);" [hidden]="tickethidden">    
    <br>

    <div class="box">
        <div class="left">
            <div class="content">
                <div *ngFor='let item of initialTicketN'>
                    <tr><button class="boton-personalizado-2 fuente" (click)=" consulta(item.id,'n')"> {{item.descripcion}} </button></tr>
                </div>
            </div>
        </div>
        <div class="right" hidden>
            <div class="content">
                <div *ngFor='let item of initialTicketP'>
                    <tr><button class="boton-personalizado-2 fuente" (click)=" consulta(item.id,'p')"> {{item.descripcion}}</button></tr>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

<div [hidden]="!tickethidden">
    <div style="margin-left: 5px; background:#0505051c;">
        <br>
        <table >
            <tr> 
                <td></td> 
                <td><span class="fuente">NIT/CI :</span><input type="text" name="nit" [(ngModel)]="nit" id="nit"></td>                      
                <td><button class="boton-personalizado-2 fuente" (click)="tareaTicket('Finalizar')" style="background-color:green;">FINALIZAR</button></td>
                
            </tr>
            <tr>
                <td></td>
                <td><span class="fuente">NOMBRE :</span><input type="text" name="cNombre" [(ngModel)]="cNombre" id="cNombre"></td>
                <!--td><button class="boton-personalizado-2 fuente" (click)=" tareaTicket('Puasar')"> Observación</button></td-->
                <!--td><button class="boton-personalizado-2 fuente" (click)=" tareaTicket('Abandono')" style="background-color:red;">ABANDONO</button></td-->
                <td><button class="boton-personalizado-2 fuente" (click)="tareaTicket('Cancelar')" style="background-color:red;">CANCELAR</button></td>  
            </tr>
        </table>

        <br>
    </div>
    <div align='center' style="background: #1475b8;">
        <span class="fuente" style="color: white; font-size: 25px;">TRÁMITE PRIMARIO</span>
    </div>
    
    <div *ngFor='let item of initialTramite' style="margin-left: 5px; background:#0505051c;">
        <div style="margin-left: 10px">
            <input type="checkbox" name="" id="" (click)="subTramiteLLenar(item.id , $event)"><span class="fuente"> {{item.descripcion}} </span> 
        </div>                        
    </div> 
    
    <div align='center' style="background:navy;">
        <span class="fuente" style="color: white; font-size: 20px;">TRÁMITE SECUNDARIO</span>
    </div>
    
    <div *ngFor='let item of initialTipoTramiteTemp' style="margin-left: 5px;">
        <div [ngStyle]="colorStyle(item.subTramite.id)">
        <!--div [ngStyle]="colorStyleSw()"-->
            <input type="checkbox" name="" id="" (click)="addSubTramite(item.subTramite , $event)"><span class="fuente"> {{item.subTramite.descripcion}} </span> 
        </div>                        
    </div>
</div>

<div id="popup" class="overlay"  [hidden]= "popup_T">
    <div id="popupBody">
        <h2>Seleccione un TRÁMITE SECUNDARIO</h2>
        <button id="cerrar" (click)="cerrarPopUp()" class="fuente">&times;</button>
        <div class="popupContent">
            <!--p>Debe seleccionar al menos un TRÁMITE SECUNDARIO</p-->
        </div>
    </div>
</div>